.jumbotron {
  background-color: #e8e67d;
  color: #e87996;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #ff8000;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-product {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #46eb34;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-adress-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
