@green: #46eb34;
@yellow: #e8e67d;
@rojo: #e87996; 
@naranja: #ff8000; 

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
  
}

.jumbotron {
  background-color: @yellow;
  color: @rojo;
  .margenes(50px, 0px);
}

footer {
  padding: 10px 10px 0 10px;
  background-color: @naranja;
 .margenes(10px, 0px);

}

.card-product {
  flex: 1 200px;
  .margenes(10px, 0px);
  background-color: @green;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;

}

.footer-adress-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}
