$green: #008000;
$yellow: #fff000;
$rojo: #e87996; 
$crema: #FFFFBF;
$negro: #000000;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
	
}

.jumbotron {
	background-color: $yellow;
	color: $crema;
	@include margenes(50px, 0px);
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $green;
	@include margenes(10px, 0px);

}

.card-product {
	flex: 1 200px;
	@include margenes(50px, 0px);
	background-color: $rojo;
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;

}

.footer-adress-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}



